<h1>All our restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <h2><%= restaurant.name %></h2>
      <% unless restaurant.reviews.empty? %>
        <p><strong>Rate : </strong> <%= restaurant.reviews.average(:rating).round(1) %>/5 (<%= restaurant.reviews.count %>)</p>
      <% end %>
      <p>category : <%= restaurant.category %></p>
      <p>address : <%= restaurant.address %></p>
      <p>phone_number : <%= restaurant.phone_number %></p>
      <%= link_to 'View', restaurant_path(restaurant), class: 'btn btn-secondary' %>
    </li>
  <% end %>
</ul>
