<h1><%= @restaurant.name %></h1>
<p><strong>Rate : </strong> <%= @restaurant.reviews.average(:rating).round(1) %>/5</p>
<p>category : <%= @restaurant.category %></p>
<p>address : <%= @restaurant.address %></p>
<p>phone_number : <%= @restaurant.phone_number %></p>
<hr>
<h2>Reviews</h2>
<%= link_to 'Add a new review', new_restaurant_review_path(@restaurant), class: 'btn btn-secondary' %>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %> <%= '★' * review.rating %><%= '☆' * (5 - review.rating) %></p>
<% end %>
